version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - mean-net

  backend:
    image: saishankarreddy/mean-backend:latest
    container_name: backend
    restart: always
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/meanapp
    ports:
      - "5000:5000"  
    networks:
      - mean-net

  frontend:
    image: saishankarreddy/mean-frontend:latest
    container_name: frontend
    restart: always
    networks:
      - mean-net

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
    networks:
      - mean-net

volumes:
  mongo_data:

networks:
  mean-net: