name: Backend CI/CD

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"
      - "docker-compose.yml"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build backend image
        run: |
          docker build -t saishankarreddy/mean-backend:latest backend

      - name: Push backend image
        run: |
          docker push saishankarreddy/mean-backend:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/crud-dd-task-mean-app/crud-dd-task-mean-app
            docker-compose pull backend
            docker-compose up -d backend
